{% extends "DominickRoommateBundle::layout.html.twig" %}

{% block title "Roommate Expense Tracker" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            Welcome to the Roommate Expense Tracker. The goal of this application is to satisfy the requirements for <a
                    href="http://dwa15.com/Projects/P2" target="_blank">Project 2</a> in a fun way that is also useful.
            Using this application, you will be able to register an apartment, add roommates, view your monthly
            expenses, add new one time or recurring expenses, mark them as paid, and see a tally of how much you owe
            each of your roommates.
        </div>
    </div>
{% endblock %}
