{% extends "DominickRoommateBundle::layout.html.twig" %}

{% block title "Roommate Expense Tracker" %}

{% block content_header '' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Roommate Expense Tracker</h2>
            <p class="lead">Share expenses with your roommates, the easy way.<p>
            <p>
                Using this application, you will be able to register an apartment, add roommates, view your monthly expenses, add new one time or recurring expenses, log new payments made to other roommates, and see a tally of how much you owe each of your roommates and how much they owe.
            </p>
        </div>
        <div class="col-md-6">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('img/teaser_newexpense.png') }}" style="margin:auto;">
                    </div>
                    <div class="item">
                        <img src="{{ asset('img/teaser_newpayment.png') }}" style="margin:auto;">
                    </div>
                    <div class="item">
                        <img src="{{ asset('img/teaser_balance.png') }}" style="margin:auto;">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" id="teaser">
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-shopping-cart"></span> Track your expenses</h3>
                    <p>Add a new bill, receipt, or shared expense. The total will be divided by the number of registered roommates and will be added as a credit to your balance. Expenses are also categorized for reporting!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-usd"></span> Log your payments</h3>
                    <p>It's easy to remember who paid who and when. This site will tell you which one of your roommates is owed money and how much you should be paying to each. You can log a new payment, mark the payment method, and even add a reference memo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3><span class="glyphicon glyphicon-eye-open"></span> View your balance</h3>
                    <p>The balance calculation ties together your expenses, payments, and roommate debt all into one number so you can see how much you or your roommates owe or are owed.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
