html{
    background:none;
}
h1,h2,h3,h4,h5,h6,h7{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    -webkit-text-stroke: 0.3px;
}
div#pageContent{
    min-height: 400px;
}
.balance{
    font-size:36px;
    color: #759e1a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 400;
    -webkit-text-stroke: 0.3px;
}
.balance.negative{
    color:#dd6666;
}
.balance.small{
    font-size:22px;
    line-height: 18px;
    top: 2px;
    position: relative;
}
#footer{
    font-size:11px;
    text-align: center;
    color:#666;
    margin-top:50px;
    margin-bottom: 10px;
}
#teaser .thumbnail{
    min-height: 180px;
}
#teaser .thumbnail h3{
    margin-top: 0;
}
#teaser .thumbnail img{
    max-width:100%;
    display:block;
    margin:auto;
}
.carousel-control.right{
    background:0 !important;
    margin-right: -40px;
}

.carousel-control.left {
    background:0 !important;
    margin-left:-60px;
}

.label.expensetype{
    float:right;
}

.label-utility{         background-color: #5cb85c;}
.label-entertainment{   background-color: #428bca;}
.label-moving{          background-color: #f0ad4e;}
.label-household{       background-color: #5bc0de;}
.label-groceries{       background-color: #9374eb;}
.label-furniture{       background-color: #d9534f;}
.label-other{           background-color: #999;}

